* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common */
.button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #0163EE;
    color: #fff;
    border-radius: 50px;
    box-shadow: 0px 5px 20px rgb(182, 181, 181);
}
.button:hover {
    opacity: 0.8;
    color: #fff;
    background-color: #0163EE;
    text-decoration: none;
}
.heading {
    text-align: center;
    margin: 30px 0 80px;
    font-size: 40px;
}
.container {
    max-width: 1600px;
}
.line-center::after {
    content: '';
    display: block;
    width: 80px;
    border: 1px solid #2A7CF0;
    margin: 70px auto;
}
/* header */
.header-wrap {
    padding: 30px 0px;
    align-items: center;
}
.header__logo {
    width: 13%;
    cursor: pointer;
}
.nav {
    flex-flow: row-reverse;
    align-items: center;
}
.nav__menu-label {
    display: none;
}
#nav-menu {
    display: none;
}
.nav-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    align-items: center;
}
.nav-item {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 0 16px;
    color: #3F3D3D;
    cursor: pointer;
}
.nav-item:hover {
    opacity: 0.8;
}
/* 2. highlight section */
.section-wrap  {
    padding: 90px 0 60px;
}
.section__heading {
    font-size: 80px;
}
.section__content {
    color: #726E7A;
    font-size: 28px;
    margin: 40px 0;
}
.section__app {
    display: inline-block;
    color: #68738A;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
}
.section__img-wraper {
    display: flex;
    align-items: flex-end;
}
.section__img {
    width: 80%;
}
.app-item {
    margin-right: 20px;
    font-size: 22px;
    font-weight: 500;
}
.app__icon {
    margin-right: 10px;
}

/* main content */
.main-content-wraper {
    width: 100%;
    background-color: #F8F9FA;
    padding-top: 50px;
    position: relative;
    margin-top: 30px;
}
.main-content-wraper::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -200px;
    width: 100%;
    height: 200px;
    background: linear-gradient(to bottom right, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, #F8F9FA 50%);
}
.main-content-wraper::after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: -200px;
    width: 100%;
    height: 200px;
    background: linear-gradient(to bottom right, #F8F9FA 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%);
}
.feature__phone {
    position: relative;
    display: flex;
    align-items: center;
}
.feature__phone-img {
    border: 20px solid #ECEDEE;
    border-radius: 40px;
    box-shadow: 0 1px 50px 0px rgb(187, 184, 184);
}
.feature__phone-wrap {
    position: relative;
}
.feature__phone-wrap::before {
    content: '';
    position: absolute;
    width: 30%;
    height: 5%;
    background-color: #ECEDEE;
    top: 0%;
    left: 21%;
    border-radius: 12px;
}
.feature__content-wraper {
    display: flex;
    align-items: center;
}
.feature__content-row {
    margin: 40px 0;
}
.feature-content {
    position: relative;
}
.feature__icon {
    text-align: right;
    font-size: 35px;
    color: #0053ED  ;
    
}
.feature__heading {
    font-size: 30px;
}
.feature__content {
    font-size: 23px;
}

/* information */
.information-content__feedback {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 8px 30px 0px rgb(187, 184, 184);
    text-align: center;
    padding: 50px 50px;
    margin-bottom: 50px;
}
.customer-img {
    border-radius: 50%;
    width: 20%;
}
.customer-feedback {
    font-size: 28px;
    color: #656E79;
    font-weight: 500;
}
.customer-name {
    color: #212529;
    font-weight: 500;
    font-size: 20px;
}
/* simple pricing */
.pricing__content-wraper {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 8px 30px 0px rgb(187, 184, 184);
    padding: 25px 0px;
    margin-bottom: 50px;
}
.pricing__content-header {
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 0 30px;
}
.pricing__content-level {
    font-size: 26px;
    color: #202323;
    margin-bottom: 16px;
}   
.pricing__content-price {
    font-size: 31px;
    font-weight: 500;
    position: relative;
    margin-bottom: 16px;
    display: inline-block;

}
.pricing__content-duration {
    font-size: 21px;
    color: #202323;
    margin-bottom: 16px;
}   
.pricing__content-body {
    margin: 20px 70px 0 30px;
    font-size: 25px;
}
.pricing__content-icon {
    color: #5A77F1;
}
.pricing__content-symbol {
    position: absolute;
    font-size: 20px;
    top: 0;
    left: -12px;
}

/* footer */
.footer-wrap {
    margin-top: 150px;
    margin-bottom: 20px;
}
.footer-title {
    padding-right: 20px;
    margin-bottom: 20px;
}
.footer-content {
    font-size: 20px;
    padding-right: 150px;
}
.footer-list {
    list-style: none;
    font-size: 20px;
}
.footer-list-item {
    margin: 10px 0;
}
.item-link {
    text-decoration: none;
    color: #212529;
}

/* key frame */
@keyframes growthIn {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes growthOut {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0);
        opacity: 0;
    }
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 576px) and (max-width: 991px) {
    .container {
        max-width: 720px;
    }
    .button {
        padding: 10px 15px;
    }
    .heading {
        font-size: 25px;
    }
    .header__logo {
        width: 20%;
    }
    .nav__menu-label {
        display: inline-block;
        font-size: 25px;
        position: relative;
    }
    .nav-list {
        display: none;
        box-shadow: 0 1px 25px 1px #ccc;
        padding: 13px 20px 13px 12px ;
        position: absolute;
        right: -1px;
        top: 50px;
    }
    #nav-menu:checked ~ .nav-list {
        display: flex;
        transform-origin: calc(100% - 5px) top;
        animation: growthIn ease-in 0.2s;
    }
    #nav-menu:not(:checked) ~ .nav-list {
        display: flex;
        transform-origin: calc(100% - 10px) top;
        animation: growthOut ease-in 0.2s forwards;
    }
    .nav-list::before {
        content: '';
        position: absolute;
        top: -20px;
        right: 10px;
        border-width: 10px 18px;
        border-style: solid;
        border-color: transparent transparent white transparent;
    }
    .nav-item {
        font-size: 16px;
        margin: 0;
    }
    .section__heading {
        font-size: 40px;
    }
    .section__content {
        font-size: 16px;
    }
    .section__img-wraper {
        justify-content: center;
    }
    .section__img {
        width: 100%;
    }
    .app-item {
        font-size: 14px;
    }
    .feature__phone-wrap::before {
        top: 2%;
        left: 35%;
    }
    .feature__phone-img {
        border-width: 20px;
        border-radius: 30px;
        width: 100%;
    }
    .feature__icon {
        font-size: 18px;
    }
    .feature__heading {
        font-size: 20px;
        min-height: 48px;
    }
    .feature__content {
        font-size: 16px;
    }
    .customer-img {
        width: 20%;
    }
    .customer-feedback {
        font-size: 16px;
    }
    .customer-name {
        font-size: 16px;
    }
    .pricing__content-level {
        font-size: 18px;
    }
    .pricing__content-price {
        font-size: 25px;
    }
    .pricing__content-symbol {
        font-size: 14px;
    }
    .pricing__content-duration {
        font-size: 16px;
    }
    .pricing__content-body {
        font-size: 18px;
    }
    .footer-title {
        font-size: 22px;
    }
    .footer-content {
        font-size: 16px;
        padding-right: 20px ;
    }
    .footer-list {
        font-size: 16px;
    }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
    .container {
        max-width: 540px;
    }
    .header__logo {
        width: 30%;
    }
    .circle-btn-sm {
        border-radius: 50%;
    }
    .text-center-sm {
        text-align: center;
    }
    .nav-list {
        padding: 8px 20px 8px 12px ;
    }
    .nav-item {
        font-size: 12px;
        margin: 0;
    }
    .section__heading {
        font-size: 45px;
    }
    .section-wrap {
        text-align: center;
    }
    .section__img-wraper {
        display: none;
    }
    .feature__phone {
        display: none;
    }
    .feature__icon {
        font-size: 22px;
    }
    .feature__heading {
        min-height: 0px;
    }
    .content-center-sm {
        justify-content: center !important;
    }
    .footer-content {
        text-align: center;
        margin-bottom: 30px;
    }
}
@media (min-width: 320px) and (max-width: 575px) {
    .container {
        max-width: 100%;
    }
    .button {
        padding: 10px 15px;
    }
    .heading {
        font-size: 25px;
    }
    .content-center-sm {
        justify-content: center !important;
    }
    .text-center-exsm {
        text-align: center;
    }
    .header__logo {
        width: 40%;
    }
    .nav__menu-label {
        display: inline-block;
        font-size: 25px;
        position: relative;
    }
    .nav-list {
        display: none;
        box-shadow: 0 1px 25px 1px #ccc;
        padding: 13px 12px 13px 12px ;
        position: absolute;
        right: 0px;
        top: 50px;
    }
    #nav-menu:checked ~ .nav-list {
        display: flex;
        transform-origin: calc(100% - 5px) top;
        animation: growthIn ease-in 0.2s;
    }
    #nav-menu:not(:checked) ~ .nav-list {
        display: flex;
        transform-origin: calc(100% - 10px) top;
        animation: growthOut ease-in 0.2s forwards;
    }
    .nav-list::before {
        content: '';
        position: absolute;
        top: -20px;
        right: 10px;
        border-width: 10px 18px;
        border-style: solid;
        border-color: transparent transparent white transparent;
    }
    .nav-item {
        font-size: 14px;
        margin: 0;
    }
    .section__heading {
        font-size: 40px;
        text-align: center;
    }
    .section__content {
        font-size: 16px;
        text-align: center;
    }
    .app-wraper {
        text-align: center;
    }
    .section__img-wraper {
        display: none;
    }
    .app-item {
        font-size: 14px;
        margin: 10px 10px;
    }
    .main-content-wraper {
        margin-top: 0;
        padding: 0;
    }
    .feature__phone-wrap {
        display: none;
    }
    .feature__content-row {
        margin: 0px;
    }
    .feature__icon {
        font-size: 18px;
    }
    .feature__heading {
        font-size: 20px;
        min-height: 0px;
    }
    .feature__content {
        font-size: 16px;
        margin-bottom: 30px;
    }
    .customer-img {
        width: 20%;
    }
    .customer-feedback {
        font-size: 16px;
    }
    .customer-name {
        font-size: 16px;
    }
    .pricing__content-level {
        font-size: 18px;
    }
    .pricing__content-price {
        font-size: 25px;
    }
    .pricing__content-symbol {
        font-size: 14px;
    }
    .pricing__content-duration {
        font-size: 16px;
    }
    .pricing__content-body {
        font-size: 18px;
    }
    .footer-title {
        font-size: 18px;
    }
    .footer-content {
        font-size: 16px;
        padding-right: 20px ;
        margin-bottom: 30px;
    }
    .footer-list {
        font-size: 14px;
    }

}
/* Large devices (desktops, >992px and < 1200) */
@media  (min-width: 992px) and (max-width: 1199px) {
    .container {
        max-width: 960px;
    }
    .button {
        padding: 10px 20px;
    }
    .heading {
        font-size: 30px;
    }
    .nav-item {
        font-size: 16px;
    }
    .section__heading {
        font-size: 45px;
    }
    .section__content {
        font-size: 18px;
    }
    .section__img-wraper {
        justify-content: center;
    }
    .section__img {
        width: 100%;
    }
    .app-item {
        font-size: 16px;
    }
    .feature__phone-wrap::before {
        top: 2%;
    }
    .feature__icon {
        font-size: 22px;
    }
    .feature__heading {
        font-size: 22px;
    }
    .feature__content {
        font-size: 16px;
    }
    .customer-img {
        width: 40%;
    }
    .customer-feedback {
        font-size: 16px;
    }
    .customer-name {
        font-size: 16px;
    }
    .pricing__content-level {
        font-size: 18px;
    }
    .pricing__content-price {
        font-size: 25px;
    }
    .pricing__content-symbol {
        font-size: 14px;
    }
    .pricing__content-duration {
        font-size: 16px;
    }
    .pricing__content-body {
        font-size: 18   px;
    }
    .footer-title {
        font-size: 22px;
    }
    .footer-content {
        font-size: 16px;
    }
    .footer-list {
        font-size: 16px;
    }
}

@media  (min-width: 1300px) and (max-width: 1600px) {
    .container {
        max-width: 1200px;
    }
    .section__img-wraper {
        justify-content: center;
    }
    .section__img {
        width: 100%;
    }
    .feature__phone-wrap::before {
        top: 1%;
    }
    .customer-img {
        width: 40%;
    }
    .customer-feedback {
        font-size: 22px;
    }
}

@media  (min-width: 1200px) and (max-width: 1299px) {
    .container {
        max-width: 1100px;
    }
    .button {
        padding: 10px 20px;
    }
    .heading {
        font-size: 35px;
    }
    .nav-item {
        font-size: 16px;
    }
    .section__heading {
        font-size: 60px;
    }
    .section__content {
        font-size: 20px;
    }
    .section__img-wraper {
        justify-content: center;
    }
    .section__img {
        width: 100%;
    }
    .app-item {
        font-size: 19px;
    }
    .feature__phone-wrap::before {
        top: 2%;
    }
    .feature__icon {
        font-size: 28px;
    }
    .feature__heading {
        font-size: 25px;
    }
    .feature__content {
        font-size: 18px;
    }
    .customer-img {
        width: 40%;
    }
    .customer-feedback {
        font-size: 20px;
    }
    .customer-name {
        font-size: 18px;
    }
    .pricing__content-level {
        font-size: 22px;
    }
    .pricing__content-price {
        font-size: 27px;
    }
    .pricing__content-body {
        font-size: 20px;
    }
    .footer-title {
        font-size: 22px;
    }
    .footer-content {
        font-size: 16px;
    }
    .footer-list {
        font-size: 16px;
    }
}
